/* You can add global styles to this file, and also import other style files */

th {
  text-align: center;
}
table {
  border: 1px solid #28589f;

}
th, .navbar {
  background: #28589f;

}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.offset50 {
  margin-top: 60px;
}
.search {
  padding: 50px;
  background: #dddddd;
}
.shadow {
  box-shadow: 0 10px 6px -6px #777;
}
